---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Category from '../components/Category.astro';
import Button from '../components/Button.jsx';

const someProps = {
	count: 1,
};

---

<Layout title="Product Listing Page">
  <Navbar someProps={someProps}/>
  <Category />
  <Button {...someProps} client:only>Hello, Astro!</Button>
</Layout>
