---
---

<style>
  @import './Category.scss';
</style>

<section>
  <div class="container">
    <div class="category-item section">
      <p>My Shop</p>
    </div>
    <div class="category-item">
      <p>My Shop</p>
    </div>
    <div class="category-item">
      <p>My Shop</p>
    </div>
    <div class="category-item">
      <p>My Shop</p>
    </div>
    <div class="category-item">
      <p>My Shop</p>
    </div>
    <div class="category-item">
      <p>My Shop</p>
    </div>
    <div class="category-item">
      <p>My Shop</p>
    </div>
    <div class="category-item">
      <p>My Shop</p>
    </div>
    <div class="category-item">
      <p>My Shop</p>
    </div>
    <div class="category-item">
      <p>My Shop</p>
    </div>
    <div class="category-item">
      <p>My Shop</p>
    </div>
    <div class="category-item">
      <p>My Shop</p>
    </div>
    <div class="category-item">
      <p>My Shop</p>
    </div>
    <div class="category-item">
      <p>My Shop</p>
    </div>
    <div class="category-item">
      <p>My Shop</p>
    </div>
    <div class="category-item">
      <p>My Shop</p>
    </div>
    <div class="category-item">
      <p>My Shop</p>
    </div>
    <div class="category-item">
      <p>My Shop</p>
    </div>
    <div class="category-item">
      <p>My Shop</p>
    </div>
    <div class="category-item">
      <p>My Shop</p>
    </div>
  </div>
</section>
