nav {
  display: flex;
  justify-content: center;
  background-color: #fff;
  border-bottom: 1px solid #dadada;
  .container {
    align-items: center;
    justify-content: space-between;
    .logo {
      p {
        font-size: 20px;
        font-weight: 700;
      }
    }
    .cart {
      font-size: 16px;
      font-weight: 400;
    }
  }
}
