---
const { someProps } = Astro.props;
console.log(someProps)
---

<style>
  @import './Navbar.scss';
</style>

<nav>
  <div class="container">
    <div class="logo">
      <p>My Shop</p>
    </div>
    <div class="cart">
      <p>Cart<span>({someProps.count})</span></p>
    </div>
  </div>
</nav>
